$font-sans-serif: "Barlow", sans-serif;

$spacer: 1rem;
$spacers: (
  1: 0.35 * $spacer,
  2: 0.5 * $spacer,
  3: 1.0 * $spacer,
  4: 1.5 * $spacer,
  5: 2 * $spacer
);

$color-primary: #8c1c13;
$color-primary-light: #bf4342;
$color-light: #e7d7c1;
$color-medium: #a78a7f;
$color-dark: #735751;


$duration: .3s;
$easing: ease;

@function spacer($level: 3) {
  @return var(--spacer-#{$level});
}