@use "@/_variables.scss" as *;

*,
*::before,
*::after {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  position: relative;
}

html,
body {
  min-height: 100%;
  height: auto;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-y: scroll;
  overflow-x: hidden;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity $duration $easing;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}