@use "@/_variables.scss" as *;

@import "@fontsource/inter/latin-700.css";
@import "@fontsource/rubik/latin-900.css";

:root {
  // SIZES
  --spacer: #{$spacer};

  // COLORS
  --color-dark: #463f3a;
  --color-light: #f4e9e2;

  --color-primary: #f56c73;
  --color-primary-light: #ff8a8a;

  // FONTS
  --color-secondary: #f6cf65;
  --color-secondary-light: #ffe499;

  --font-text-family: "Inter", sans-serif;
  --font-text-weight: normal;
  --font-title-family: "Rubik", sans-serif;
  --font-title-weight: bolder;

  @each $index, $size in $spacers {
    --spacer-#{$index}: #{$size};
  }
}

*,
*::before,
*::after {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  position: relative;
}

html,
body {
  background-color: var(--color-dark);
  color: var(--color-dark);
  height: auto;
  min-height: 100%;
}

body {
  font-family: var(--font-text-family);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: var(--font-text-weight);
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

em {
  color: var(--color-primary);
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title-family);
  font-weight: var(--font-title-weight);
  line-height: 0.83;
  text-transform: uppercase;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity $duration $easing;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}